
.quote {
    text-align: center;
    margin: 50px 0;
  }
  
  .about-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
  }
  
  .contact ul li {
    margin-bottom: 10px;
  }
  
  .contact a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
  }
  
  .signup {
    color: #ffffff;
  }

  .login {
    color: #ffffff;
  }

  input[type=text] {
    padding:10px;
    
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  
  input[type="password"] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-right: 20px;
  }
  
  .rounded-input[type="password"] {
    padding:10px;
    border-radius:10px;
  }
  .headerContainer {
    width: 200px;
    padding: 20px;
    border: 3px solid black; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #333; 
  color: #fff; 
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-size: 22px;
  font-weight: bold; 
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ff5733; 
}

