

.quote {
    text-align: center;
    margin: 50px 0;
  }
  
  .about-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
  }
  
  .contact ul li {
    margin-bottom: 10px;
  }
  
  .contact a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
  }
  
  .signup {
    color: #ffffff;
  }

  .login {
    color: #ffffff;
  }