/* home.css */


  .thumb-img{
    object-fit: cover;
    overflow: hidden;
    height: 30vh; 
    width : 30vw;
    margin-bottom: 10px;
 }  

 .plant-cards-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: center; 
 }

 .promotional-sale {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  margin: 20px; 
}

.homeContainer {
  text-align: center;
}
  