.background-image {
  
    background-image: url('https://www.tastingtable.com/img/gallery/coffee-brands-ranked-from-worst-to-best/intro-1645231221.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    height: 100vh; 

  
    position: relative;
}

.overlay {
   
    background-color: rgba(0, 0, 0, 0.33); 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33vh; 
    z-index: 1; 
}

.rightside {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    gap: 20px; /* Adds proportional spacing between the items */
    margin-top: 20px; /* Adds margin from the top */
}

.rightside a {
    text-decoration: none;
    color: #333; /* Set the text color */
    font-size: 18px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
}

/* Style for active link (optional) */
.rightside a.active {
    color: #ff5733; /* Set the active link color */
}

.titleContainer {
    color: rgb(249, 249, 249);
}
.loginClass{
    color: rgb(249, 249, 249);
}

.signUpClass{
    color: rgb(249, 249, 249);
}

/* styles.css */
.coffee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /* Set a max-width to limit the container size */
    margin: 0 auto;
  }
  
  .coffee-item {
    width: calc(20% - 40px); /* Calculate the width for 5 items in a row with increased spacing */
    margin: 0 20px 40px 20px; /* Adjusted margin for increased space between items */
    text-align: center;
  }
  
  .coffee-image {
    width: 100%;
    height: 200px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Ensure images cover the specified height without distortion */
    max-height: 100%; /* Ensure the image height does not exceed the container height */
  }