/* Modify styles for specific links */
.navbar a {
  text-decoration: none;
  color: #1a9d32;
  /* Link color */
  margin: 0 10px;
  /* Add spacing between links */
  font-weight: bold;
  /* Make the links bold */
}



.btn-margin {
  margin-right: 10px;
}

.cartItems {
  align-items: center;
}

.plant-container {
  display: flex;
}

.landingContainer {
  display: center;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
}

.cart-box {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}


.btn-logout {
  text-decoration: none;
  color: #1a9d32;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}




.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  

}

.search-label {
  color: #fff;
  font-size: 18px;
}

.search-input {
  padding: 10px;
  border: 2px solid #008000;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.search-input:focus {
  border-color: #ff9900; 
  outline: none;
}

